/* Убираем отступы браузера */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Основной контейнер */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw; /* добавили, чтобы занять всю ширину */
  background-color: white;
  font-family: Arial, sans-serif;
}

/* Верхняя зелёная панель */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2eaf65;
  color: white;
  padding: 15px 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
}

/* Иконки справа */
/* Ссылки на иконки */
.icons a {
  color: white;           /* оставляем иконку белой */
  text-decoration: none;  /* убираем подчеркивание */
  display: flex;          /* чтобы hover применялся корректно */
  font-size: 25px;        /* увеличиваем размер иконок */
  transition: transform 0.2s; /* плавный эффект при наведении */
}
/* Иконка профиля*/
.icon-profile {
  font-size: 25px;
  cursor: pointer;
  transition: transform 0.2s;
}

.icon-profile:hover {
  transform: scale(1.15); /* эффект при наведении */
}


/* Эффект при наведении на ссылку */
.icons a:hover {
  transform: scale(1.15); /* как у .icon:hover */
}


/* Центральные кнопки */
.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;

  /* Картинка */
  background-size: 60%;       /* Размер логотипа */
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
  transition: background-color 0.25s, transform 0.25s;
}

/* Python логотип */
.circle.py {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg');
}

/* Компьютерный логотип */
.circle.hz {
  background-image: url('https://cdn-icons-png.flaticon.com/512/992/992651.png');
}

/* Эффект при наведении */
.circle:hover {
  transform: scale(1.1);
  background-color: #55b73c;
}

/* Иконка входа — чтобы была как VK и Telegram */
.icon-login {
  font-size: 25px;
  color: white;
  transition: transform 0.2s;
}

.icon-login:hover {
  transform: scale(1.15);
}